header {
    background-color: #dbfff4;
    width: 98vw;
    height: 30vh;
}

#pookie {
    width: 18vw;
    height: 50vh;
    margin-top: -3%;
    margin-left: 41vw;
}

#logobox {
    display: flex;
    flex-wrap: wrap;
    width: 15vw;
}

#logobox a{
    margin-top: 1vh;
    width: 3vw;
    margin-left: 1vw;
}

#logobox a img{
    width: 100%;

}

.logo {
	max-width: 100%;
	height: auto;
}

nav {
    display: flex;
    justify-content: center;
	text-align: center;
}

nav a {
    font-size: 2vw;
    margin-top: 23vh;
    padding: 1.5%;
    width: 12%;
    height: 5%;
	text-decoration: none;
    color: #000000;
}

.clickable:hover {
    color: #ffc1a4;
}

#current-nav{
    color: #98e6ce;
    text-shadow: 1px 1px 3px black;
}

#map{
    width: 46%;
    height: 50vh;
    border: 3px solid black;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

#location{
    margin-bottom: 0;
}
#map iframe{
    display: flex;
    width: 100%;
    height: 100%;
}

#main-content{
    margin-left: 20%;
    margin-right: 0;
    display: flex;
}

#welcome {
    background-color: #dbfff4;
    text-align: center;
    width: 50%;
    max-height: 70vh;
}

#welcome h1{
    font-size: 3vw;
}

#welcome-1{
    margin-left: 5vw;
}

#welcome p{
    text-align: justify;
    color: #270d02;
    margin-left: 5%;
    margin-right: 5%;
    font-family: courier;
    font-size: 1.4vw;
}

#welcome a{
    margin-left: 20vw;
}

#room1 {
    width: 25%;
    height: 25%;
    border: #8ffddc;
    border-style: ridge;
    float: left;
    margin-right: 2%;
}

#room2 {
    width: 25%;
    height: 25%;
    border: #8ffddc;
    border-style: ridge;
    float: right;
    margin-left: 2%;
}

#menu{
	margin-top: 5vh;
	width: 80vw;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}

#menu img{
	width: 90%;
	outline-style: solid;
    outline-color: black;
    outline-width: thin;
}

#menu-text{
    display: none;
}

#about-div{
    background-color: #dbfff4;
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

#about-div h1{
    font-size: 3vw;
}

#about-div p{
    font-family: courier;
    font-size: 1.4vw;
}


#contact-content{
    background-color: #dbfff4;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#contact-div{
    width: 100%;
    margin-top: 2vh;
    text-align: center;
}

#contact-div p{
    font-family: courier;
}

#form-div{
    margin-top: 5vh;
    width: 80%;
    border-bottom: 3px solid black;
    padding-bottom : 6vh;
}

#form-header{
    padding-top: 3vh;
    text-align: center;
    border-top: 3px solid black;
    font-family: courier;
    display: block;
    margin-top: 1vh;
    width: 80%;
}

#form-div form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#submit{
    margin-top: 2vh;
    width: 24vw;
    height: 7vh;
    padding: 0;
}

#labels{
    font-family: courier;
    text-align: left;
    width: 14vw;
}

#labels label{
    display: block;
    margin-bottom: 3.5vh;
}

#inputs{
    width: 24vw;
}

#inputs input{
    margin-bottom: 2vh;
    height: 3vh;
    width: 24vw;
}

#inputs textarea{
    width: 23.9vw;
    resize: none;
}

#contact-div-1{
    margin-top: 2vh;
    width: 70%;
    text-align: center;
    font-family: courier;
}

.contact-media{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.contact-media img{
    height: auto;
    width: 3%;
}

#contact-div-2{
    font-family: courier;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}

#cat {
    position: fixed;
    bottom: 50vh;
    width: 10%;
    height: 25%;
}

footer {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 98vw;
    text-align: center;
    background-color: #dbfff4;
}

#footer-div-1, #footer-div-2, #footer-div-3{
    font-family: courier;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-header{
    font-weight: bold;
    margin-bottom: 0;
}

.footer-content{
    margin-top: 0;
}

footer iframe{
    width: 97vw;
}


#footer-list{
    text-align: left;
	font-size: 1em;
	list-style: inside;
	list-style-type : none;
}

@media only screen and (max-width: 900px) {
    header {
        background-color: #dbfff4;
        width: 98vw;
        height: 30vh;
    }
    
    #pookie {
        width: 18vw;
        height: 30vh;
        margin-top: 5%;
        margin-left: 41vw;
    }
    
    #logobox {
        display: flex;
        flex-wrap: wrap;
        width: 15vw;
    }
    
    #logobox a{
        margin-top: 1vh;
        width: 4vw;
        margin-left: 1vw;
    }
    
    #logobox a img{
        width: 100%;
    
    }
    
    .logo {
        max-width: 100%;
        height: auto;
    }
    
    nav {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    nav a {
        font-size: 2.5vw;
        margin-top: 14vh;
        padding: 1.5%;
        width: 12%;
        height: 5%;
        text-decoration: none;
        color: #000000;
    }
    
    .clickable:hover {
        color: #ffc1a4;
    }
    
    #current-nav{
        color: #98e6ce;
        text-shadow: 1px 1px 3px black;
    }
    
    #map{
        width: 46%;
        height: 50vh;
        border: 3px solid black;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
    }
    
    #location{
        margin-bottom: 0;
    }
    #map iframe{
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    #main-content{
        margin-left: 12%;
        margin-right: 0;
        display: flex;
    }
    
    #welcome {
        text-align: center;
        background-color: #dbfff4;
        width: 58%;
        max-height: 70vh;
    }
    
    #welcome h1{
        font-size: 3vw;
    }
    
    #welcome-1{
        margin-left: 5vw;
    }
    
    #welcome p{
        color: #270d02;
        margin-left: 5%;
        margin-right: 5%;
        font-family: courier;
        font-size: 2vw;
    }
    
    #welcome a{
        margin-left: 20vw;
    }
    
    #room1 {
        width: 25%;
        height: 25%;
        border: #8ffddc;
        border-style: ridge;
        float: left;
        margin-right: 2%;
    }
    
    #room2 {
        width: 25%;
        height: 25%;
        border: #8ffddc;
        border-style: ridge;
        float: right;
        margin-left: 2%;
    }
    
    #menu{
        margin-top: 5vh;
        width: 80vw;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
    }
    
    #menu img{
        display: none;
    }
    
    #menu-text{
        background-color: #dbfff4;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    #about-div{
        background-color: #dbfff4;
        padding: 3%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #about-div h1{
        font-size: 3.5vw;
    }
    
    #about-div p{
        font-family: courier;
        font-size: 2vw;
    }
    
    
    #contact-content{
        background-color: #dbfff4;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
    
    #contact-div{
        width: 100%;
        margin-top: 2vh;
        text-align: center;
    }
    
    #contact-div p{
        font-family: courier;
    }
    
    #form-div{
        margin-top: 5vh;
        width: 80%;
        border-bottom: 3px solid black;
        padding-bottom : 6vh;
    }
    
    #form-header{
        padding-top: 3vh;
        text-align: center;
        border-top: 3px solid black;
        font-family: courier;
        display: block;
        margin-top: 1vh;
        width: 80%;
    }
    
    #form-div form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #submit{
        margin-top: 2vh;
        width: 24vw;
        height: 7vh;
        padding: 0;
    }
    
    #labels{
        font-family: courier;
        text-align: left;
        width: 21vw;
    }
    
    #labels label{
        display: block;
        margin-bottom: 3.5vh;
    }
    
    #inputs{
        width: 24vw;
    }
    
    #inputs input{
        margin-bottom: 2vh;
        height: 3vh;
        width: 24vw;
    }
    
    #inputs textarea{
        width: 23.9vw;
        resize: none;
    }
    
    #contact-div-1{
        margin-top: 2vh;
        width: 70%;
        text-align: center;
        font-family: courier;
    }
    
    .contact-media{
        text-decoration: none;
        color: black;
        font-size: 1em;
    }
    
    .contact-media img{
        height: auto;
        width: 5%;
    }
    
    #contact-div-2{
        font-family: courier;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-size: 3em;
    }
    
    #cat {
        position: fixed;
        bottom: 50vh;
        width: 10%;
        height: 20%;
    }
    
    footer {
        margin-top: 3vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 98vw;
        text-align: center;
        background-color: #dbfff4;
    }
    
    #footer-div-1, #footer-div-2, #footer-div-3{
        font-family: courier;
        width: 30%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .footer-header{
        font-weight: bold;
        margin-bottom: 0;
    }
    
    .footer-content{
        margin-top: 0;
    }
    
    footer iframe{
        width: 97vw;
    }
    
    
    #footer-list{
        text-align: left;
        font-size: 1em;
        list-style: inside;
        list-style-type : none;
    }
}

@media only screen and (max-width: 600px) {
    
    header {
        background-color: #dbfff4;
        width: 99%;
        height: 18vh;
        margin-left: auto;
        margin-right: auto;
    }
    
    #pookie {
        width: 18vw;
        height: 22vh;
        margin-top: 0%;
        margin-left: 38vw;
        text-align: center;
    }

    #logobox {
        display: flex;
        flex-wrap: wrap;
        width: 18vw;
    }

    #logobox a{
        margin-top: 1vh;
        width: 5vw;
        margin-left: 1vw;
    }

    #logobox a img{
        width: 100%;

    }

    .logo {
        max-width: 100%;
        height: auto;
    }

    nav {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        margin-bottom: 2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    nav a {
        font-size: 4vh;
        margin-top: 0.5vw;
        padding: 0;
        width: 90%;
        height: 5%;
        text-decoration: none;
        color: #000000;
    }

    .clickable:hover {
        color: #ffc1a4;
    }

    #current-nav{
        color: #98e6ce;
        text-shadow: 1px 1px 3px black;
    }

    #map{
        width: 46%;
        height: 50vh;
        border: 3px solid black;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
    }

    #location{
        margin-bottom: 0;
    }
    #map iframe{
        display: flex;
        width: 100%;
        height: 100%;
    }

    #main-content{
        width: 80%;
        margin-left: 13%;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #welcome {
        background-color: #dbfff4;
        width: 90%;
        max-height: 70vh;   
    }

    #welcome-1{
        width: 100%;
        margin-top: 3vh;
        margin-left: 5vw;
    }

    #welcome p{
        text-align: center;
        color: #270d02;
        margin-left: 5%;
        margin-right: 5%;
        font-family: courier;
        font-size: 2.5vw;
    }

    #welcome h1{
        font-size: 4vw;
    }

    #welcome a{
        margin-left: 20vw;
    }

    #room1 {
        width: 50%;
        height: 50%;
        margin-bottom: 3vh;
        border: #8ffddc;
        border-style: ridge;
        float: left;
        margin-right: 2%;
    }

    #room2 {
        width: 50%;
        height: 50%;
        border: #8ffddc;
        border-style: ridge;
        float: right;
        margin-left: 2%;
    }

    #menu{
        margin-top: 5vh;
        width: 80vw;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
    }

    #menu img{
        display: none;
    }

    #menu-text{
        background-color: #dbfff4;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #about-div{
        background-color: #dbfff4;
        padding: 3%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #about-div p{
        font-family: courier;
        font-size: 1.1em;
    }

    #about-div h1{
        font-size: 5vw;
    }


    #contact-content{
        background-color: #dbfff4;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    #contact-div{
        width: 100%;
        margin-top: 2vh;
        text-align: center;
    }

    #contact-div p{
        font-family: courier;
    }

    #form-div{
        margin-top: 5vh;
        width: 80%;
        border-bottom: 3px solid black;
        padding-bottom : 6vh;
    }

    #form-header{
        padding-top: 3vh;
        text-align: center;
        border-top: 3px solid black;
        font-family: courier;
        display: block;
        margin-top: 1vh;
        width: 80%;
    }

    #form-div form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #submit{
        margin-top: 2vh;
        width: 24vw;
        height: 7vh;
        padding: 0;
    }

    #labels{
        font-family: courier;
        text-align: left;
        width: 27vw;
        margin-left: -7vw;
    }

    #labels label{
        display: block;
        margin-bottom: 3vh;
    }

    #inputs{
        width: 19vw;
    }

    #inputs input{
        margin-bottom: 2vh;
        height: 3vh;
        width: 24vw;
    }

    #inputs textarea{
        width: 23.9vw;
        resize: none;
    }

    #contact-div-1{
        margin-top: 2vh;
        width: 70%;
        text-align: center;
        font-family: courier;
    }

    .contact-media{
        text-decoration: none;
        color: black;
        font-size: 1em;
    }

    .contact-media img{
        height: auto;
        width: 8%;
    }

    #contact-div-2{
        font-family: courier;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 3em;
    }

    #cat {
        position: fixed;
        bottom: 50vh;
        width: 15%;
        height: 20%;
    }

    footer {
        margin-top: 3vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: #dbfff4;
    }

    #footer-div-1, #footer-div-2, #footer-div-3{
        font-family: courier;
        width: 90%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .footer-header{
        font-weight: bold;
        margin-bottom: 0;
    }

    .footer-content{
        margin-top: 0;
    }

    footer iframe{
        width: 97vw;
    }


    #footer-list{
        text-align: center;
        font-size: 1em;
        list-style: inside;
        list-style-type : none;
    }

  }

